body{
background-color: #eee;
}

.main-wrapper{
margin: 0 auto;
overflow:hidden;
width: 90%;
position: relative;
}

#searchFormWrap{
text-align: center;
border-bottom: 1px solid #ccc;
}

#searchForm{
padding: 2em 0;
}

#searchForm-input{
width: 40%;
border: 1px solid rgba(0,0,0,0.2);
padding: 4px 6px;
font-size: 1.4em;
line-height: 1.4em;
}

#searchForm button{
font-size: 1.2em;
color: #fff;
background-color: #1b98f8;
padding: 0.4em 1em;
border-radius: 2px;
border: 0;
margin-left: 0.25em;
line-height: 1.4em;
vertical-align: top;
}

.tagHeader{
width: 50%;
margin: 0.5em auto 1em auto;
font-size: 1.8em;
font-weight: bold;
color: #555;
}


#searchResultPanel ul{
list-style: none;
margin: 0;
padding: 0;
}

#searchResultPanel ul li{
background-color: #fff;
margin: 1em auto;
width: 50%;
padding: 1em;
position: relative;
display: block;
}

.sr-image{
float:left;
width: 200px;
height: 200px;
background-image: url('../../mozart.jpg');
background-size: cover;
}

.sr-info{
margin: 0.75em 0 0.75em 220px;
}

.sr-info .sr-info-title{
font-size: 1.4em;
}
.sr-info .sr-info-extra{
display: block;
font-size: 0.9em;
margin: 6px 0;
color: #aaa;
}

.sr-info-extra a{
color: #aaa;
text-decoration: underline;
}

.sr-info .sr-info-abs{

}

.sr-tags a.tag{
display: inline-block;
text-decoration: none;
padding: 4px;
margin: 2px 2px 2px 0;
background-color: rgba(27, 152, 248, 0.6);
color: #fff;
border-radius: 2px;
cursor: pointer;
transition: all 0.3s;
font-size: 0.8em
}

.sr-tags a.tag:hover{
background-color: rgba(27, 152, 248, 0.9);
}

.list-noitem{
color: #aaa;
display: block;
margin: 4em;
text-align: center;
}

#footerBtns{
text-align: center;
margin: 2em 0;
}

.footerBtn{
display: inline-block;
color: #fff;
text-decoration: none;
padding: 0.5em 2em;
margin: 0.5em;
border-radius: 5px;
opacity: 0.6;
transition: opacity 0.3s;
width: 5em;
}

.footerBtn:hover{
opacity: 0.8;
text-decoration: none;
}

.footerBtn.save{
background-color: green;
}
.footerBtn.cancel{
background-color: red;
}